.cabecalho {
    background-color: #b0b8b5;
    color: rgb(250, 249, 249);
    display: flex;
    justify-content: space-around;
}


.cabecalho-imagem{
   width: 20%;
}

.cabecalho-lidta-item{
    display: inline-block;
}

